<p id="notice"><%= notice %></p>
<h1><%= t('views.common.title_top') %></h1>
<table>
  <tbody>
    <tr>
      <td><%= link_to Book.model_name.human, books_path %>ページへ</td>
    </tr>
    <tr>
      <td><%= link_to User.model_name.human, users_path %>ページへ</td>
    </tr>
  </tbody>
</table>